<div class="container">
  <div class="well" style="margin-top: 50px">
  <%= form_tag issues_path, :method => :get, :class => "form-horizontal" do %>
     <div class="form-group">
       <label for="state" class="col-sm-2 control-label">Issue State</label>
       <div class="col-sm-4">
          <%= select_tag(:aasm_state, options_for_select(Issue.aasm.states.map{ |state| state.name }, params[:aasm_state]), {:include_blank => true, :class => 'form-control'}) %>
       </div>
       <label for="received_by" class="col-sm-2 control-label">Receiver</label>
       <div class="col-sm-4">
         <%= select_tag(:received_by, options_for_select(received_by_employees_for_select, params[:received_by]), {:include_blank => true, :class => 'form-control'}) %>
       </div> 
     </div>       
     <div class="form-group">
       <label for="state" class="col-sm-2 control-label">Assigned To</label>
       <div class="col-sm-4">
         <%= select_tag(:assigned_to, options_for_select(assigned_to_employees_for_select, params[:assigned_to]), {:include_blank => true, :class => 'form-control'}) %>
       </div>
       <label for="state" class="col-sm-2 control-label">Issue Title</label>
      <div class="col-sm-4">
      <%= select_tag(:issue_title, options_for_select(action_titles_for_select, params[:issue_title]), {:include_blank => true, :class => 'form-control'}) %>
      </div>
     </div>
    <div class="form-group">
      <label for="assigned_date" class="col-sm-2 control-label">Opened Date</label>
      <div class="col-sm-2">
        <%= text_field_tag(:opened_after, params[:opened_after], {:class => 'form-control datepicker', :'data-date-format' => "YYYY/MM/DD"}) %>
      </div>
      <div style="float:left;">
        to
      </div>
      <div class="col-sm-2">
        <%= text_field_tag(:opened_before, params[:opened_before], {:class => 'form-control datepicker', :'data-date-format' => "YYYY/MM/DD"}) %>
      </div>
    </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
          <%= submit_tag "Filter", :class => "btn btn-success" %>
        </div>
      </div>
  <% end %>
  </div>


  <table>
    <tr>
      <td style="width:100%"><h1>Issues</h1></td>
      <td>
        <%= link_to "New issue", new_issue_path, {:class => "btn btn-success pull-right"} %>
      </td>
    <tr>
  </table>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="col-md-1">Issue ID</th>
        <th>Customer Name</th>
        <th>Issue title</th>
        <th>Received by</th>
        <th>Assigned to</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @issues.each do |issue| %>  
        <tr class="clickable-row <%= issue.open? ? "success" : "danger" %>" data-target="<%= issue_path(issue.id) %>">
          <td><%=issue.id%></td>
          <td><%=issue.customer_name%></td>
          <td><%=issue.issue_title%></td>
          <td><%=issue.received_by%></td>
          <td><%=issue.assigned_to%></td>
          <td><%=issue.assigned_date.to_formatted_s(:long) %></td>
          <td>
            <div class="btn-group">
              <%= link_to "Edit", edit_issue_path(issue.id), :class => "btn btn-primary" %>
            </div>
            <div class="btn-group">
              <%= form_for issue do |f| %>
                <% if issue.open? %>
                  <%= f.hidden_field :aasm_state, :value => "closed"  %>
                  <%= f.submit "Close Issue", :class => "btn btn-danger" %>
                <% else %>
                  <%= f.hidden_field :aasm_state, :value => "open"  %>
                  <%= f.submit "Open Issue", :class => "btn btn-success" %>
                <% end %> 
              <% end %>
            </div>
          </td> 
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script type="text/javascript">
  $(function () {
    $('.datepicker').datetimepicker({
      pickTime: false
    });
  });
</script>
