
<h1>Issues</h1>
<%= link_to "New issue", new_issue_path, {:class => "btn btn-primary"} %>



<table border="1px">
  <thead>
    <tr>
      <th>Issue id</th>
      <th>Customer Name</th>
      <th>Issue title</th>
      <th>Received by</th>
      <th>Assigned to</th>
      <th>Date</th>
      <th>State</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @issues.each do |issue| %>  
      <tr>
        <td><%=issue.id%></td>
        <td><%=issue.customer_name%></td>
        <td><%=issue.issue_title%></td>
        <td><%=issue.received_by%></td>
        <td><%=issue.assigned_to%></td>
        <td><%=issue.assigned_date%></td>
        <td><%=issue.aasm_state%></td>
        <td>
          <%= link_to "Edit", edit_issue_path(issue.id) %>,  
          <%= link_to "Show", issue_path(issue.id) %>, 
          <%= form_for issue do |f| %>
            <% if issue.open? %>
              <%= f.hidden_field :aasm_state, :value => "closed"  %>
              <%= f.submit "Close Issue" %>
            <% else %>
              <%= f.hidden_field :aasm_state, :value => "open"  %>
              <%= f.submit "Open Issue" %>
            <% end %> 
          <% end %>
        </td> 

      </tr>
    <% end %>
  </tbody>
</table>