<div class="container">
  <div class="page-header">
    <h1>New Issue</h1>
  </div>

  <%= form_for @issue, :html => { :class => "form-horizontal" } do |f| %>
    <div class="form-group">
      <label for="issue_customer_name" class="col-sm-2 control-label">Customer Name</label>
      <div class="col-sm-5">
        <%= f.text_field :customer_name,  :class => "form-control" %>
      </div> 
    </div>
    <div class="form-group">
      <label for="issue_issue_title" class="col-sm-2 control-label">Issue Title</label>
      <div class="col-sm-5">
        <%= f.select :issue_title, options_for_select(issue_titles_for_select),{}, {:class => 'form-control'} %>
      </div>
    </div>
    <div class="form-group">    
       <label for="received_by" class="col-sm-2 control-label">Receiver</label>
       <div class="col-sm-5">
         <%= f.select(:received_by, options_for_select(received_by_employees_for_select),{} ,{:class => 'form-control'}) %>
       </div> 
     </div>
    <div class="form-group">    
      <label for="assigned_to" class="col-sm-2 control-label">Assigned To</label>
      <div class="col-sm-5">
        <%= f.select(:assigned_to, options_for_select(assigned_to_employees_for_selecct),{}, {:class => 'form-control'}) %>
      </div> 
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-5">
        <%= f.submit :class => "btn btn-success" %>
      </div>
    </div>
  <% end %>
</div>