
<table border="1px">
  <thead>
    <tr>
      <th>Customer Name</th>
      <th>Issue title</th>
      <th>Received by</th>
      <th>Assigned to</th>
      <th>Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%=@issue.customer_name%></td>
      <td><%=@issue.issue_title%></td>
      <td><%=@issue.received_by%></td>
      <td><%=@issue.assigned_to%></td>
      <td><%=@issue.assigned_date%></td>
      <td><%= link_to "Edit", edit_issue_path(@issue.id) %></td>
    </tr>
  </tbody>
</table>

<h1>New actions</h1>
<%= form_for @action, :url => issue_action_index_path(:issue_id => @issue.id) do |f| %>
  <p>What action do you want to perform?: <%= f.text_field :name %></p>
  <p>Notes: <%= f.text_field :text %></p>
  <%= f.submit %>
<% end %>