
<table border="1px">
  <thead>
    <tr>
      <th>Customer ID</th>
      <th>Customer Name</th>
      <th>Issue title</th>
      <th>Received by</th>
      <th>Assigned to</th>
      <th>Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%=@issue.id%></td>
      <td><%=@issue.customer_name%></td>
      <td><%=@issue.issue_title%></td>
      <td><%=@issue.received_by%></td>
      <td><%=@issue.assigned_to%></td>
      <td><%=@issue.assigned_date%></td>
      <td><%= link_to "Edit", edit_issue_path(@issue.id) %>, Close</td>
    </tr>
  </tbody>
</table>
  
<h3>New actions</h3>
<%= form_for @action, :url => issue_actions_path(:issue_id => @issue.id) do |f| %>
  <p> Action title?: <%= text_field_tag "new_action[action_title]" %>
  Who performed this action?: <%= text_field_tag "new_action[name]" %>
  Date (yyyy-mm-dd) Time (0-23:0-60:0-60): <%= text_field_tag "new_action[date]" %></p>
  <p>Details: <%= text_field_tag "new_action[text]" %></p>
  <%= f.submit %>
<% end %>

<table border= 1px>
  <thead>
    <tr>
      <th>Action title</th>
      <th>Performed by</th>
      <th>Date performed</th>
      <th>Details</th>
      <th>Actions</th>
    </tr>
  </thead> 
  <tbody>

    <% @actions.each do |action| %>
      <tr>
        <td><%= action.action_title %></td>
        <td><%= action.name %></td>
        <td><%= action.date %></td>
        <td>
          <p style="word-wrap:break-word;"><%= action.text %></p>
        </td>
        <td><%= link_to "Edit", edit_issue_action_path(action.issue_id, action.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


