<div class="container">
  <div class="page-header">
    <h1>Issue #<%= @issue.id %></h1>
  </div>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="col-md-1">Issue ID</th>
        <th>Customer Name</th>
        <th>Issue title</th>
        <th>Received by</th>
        <th>Assigned to</th>
        <th>Date</th>
        <th>State</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @issue.id %></td>
        <td><%= @issue.customer_name %></td>
        <td><%= @issue.issue_title %></td>
        <td><%= @issue.received_by %></td>
        <td><%= @issue.assigned_to %></td>
        <td><%= @issue.assigned_date.to_formatted_s(:long) %></td>
        <td><%= @issue.aasm_state %></td>
        <td>
          <div class="btn-group">
              <%= link_to "Edit", edit_issue_path(@issue.id), :class => "btn btn-primary" %>
          </div>
          <%= form_for @issue do |f| %>
                <% if @issue.open? %>
                  <%= f.hidden_field :aasm_state, :value => "closed"  %>
                  <%= f.submit "Close Issue", :class => "btn btn-danger" %>
                <% else %>
                  <%= f.hidden_field :aasm_state, :value => "open"  %>
                  <%= f.submit "Open Issue", :class => "btn btn-success" %>
                <% end %> 
              <% end %>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="page-header">
    <h1>Actions</h1>
  </div>
  
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Action title</th>
        <th>Performed by</th>
        <th>Date performed</th>
        <th>Details</th>
        <th>Actions</th>
      </tr>
    </thead> 
    <tbody>
      <% @actions.each do |action| %>
        <tr>
          <td class="col-md-2"><%= action.action_title %></td>
          <td class="col-md-2"><%= action.name %></td>
          <td class="col-md-2"><%= action.date.to_formatted_s(:long) %></td>
          <td class="col-md-4"><%= action.text %></td>
          <td class="col-md-1"><%= link_to "Edit", edit_issue_action_path(action.issue_id, action.id), :class => "btn btn-primary" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= form_for @action, :url => issue_actions_path(:issue_id => @issue.id), :html => { :class => "form-horizontal" }  do |f| %>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-5">
        <h2>New Action</h2>
      </div>
    </div>
    <div class="form-group">
      <label for="new_action_action_title" class="col-sm-2 control-label">Action Title</label>
      <div class="col-sm-5">
        
        <%= select_tag "new_action[action_title]", options_for_select(action_titles_for_select), :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <label for="new_action_name" class="col-sm-2 control-label">Completed By</label>
      <div class="col-sm-5">
        <%= select_tag "new_action[name]", options_for_select(employees_for_select, "employee_name"),  :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <label for="new_action_date" class="col-sm-2 control-label">Date</label>
      <div class="col-sm-5">
        <%= text_field_tag "new_action[date]", nil, :class => "form-control datetimepicker", :'data-date-format' => "YYYY/MM/DD hh:mm A" %>
      </div>
    </div>
    <div class="form-group">
      <label for="new_action_text" class="col-sm-2 control-label">Details</label>
      <div class="col-sm-5">
        <%= text_area_tag "new_action[text]", nil, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-5">
        <%= f.submit :class => "btn btn-success" %>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $('.datetimepicker').datetimepicker();
</script>