<p style="font-size: 50px">________</p><p style="font-size: 50px">___________________________</p><p style="font-size: 50px">'</p>
<table border="1px">
  <thead>
    <tr>
      <th>Customer Name</th>
      <th>Issue title</th>
      <th>Received by</th>
      <th>Assigned to</th>
      <th>Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%=@issue.customer_name%></td>
      <td><%=@issue.issue_title%></td>
      <td><%=@issue.received_by%></td>
      <td><%=@issue.assigned_to%></td>
      <td><%=@issue.assigned_date%></td>
      <td><%= link_to "Edit", edit_issue_path(@issue.id) %></td>
    </tr>
  </tbody>
</table>

<h1>New actions</h1>
<%= form_for @action, :url => issue_actions_path(:issue_id => @issue.id) do |f| %>
<p>What action do you want to perform?: <%= text_field_tag "new_action[name]" %></p>
<p>Notes: <%= text_field_tag "new_action[text]" %></p>
  <%= f.submit %>
<% end %>